[submodule "CosmoMyst.Core"]
	path = CosmoMyst.Core
	url = git@github.com:CosmoMyst/CosmoMyst.Core.git
[submodule "CosmoMyst.Math"]
	path = CosmoMyst.Math
	url = git@github.com:CosmoMyst/CosmoMyst.Math.git
